{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>driphack20</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="keywords" content="html, css, javascript, jquery">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static 'css/vendor/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jquery.fancybox.min.css' %}">
    

    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body data-spy="scroll" data-target=".site-nav-target" data-offset="200">

    <nav class="unslate_co--site-mobile-menu">
      <div class="close-wrap d-flex">
        <a href="#" class="d-flex ml-auto js-menu-toggle">
          <span class="close-label">Close</span>
          <div class="close-times">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </div>
        </a>
      </div>
      <div class="site-mobile-inner"></div>
    </nav>


    <div class="unslate_co--site-wrap">

      <div class="unslate_co--site-inner">

        <div class="lines-wrap">
          <div class="lines-inner">
            <div class="lines"></div>
          </div>
        </div>
        <!-- END lines -->
      
      <nav class="unslate_co--site-nav site-nav-target">

        <div class="container">
        
          <div class="row align-items-center justify-content-between text-left">
            <div class="col-md-5 text-right">
              <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                <li class="has-children">
                  <a href="#home-section" class="nav-link">Home</a>
                  
                </li>
                <li><a href="#portfolio-section" class="nav-link">Portfolio</a></li>
                <li><a href="#about-section" class="nav-link">About</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
              </ul>
            </div>
            <div class="site-logo pos-absolute">
              <a href="index.html" class="unslate_co--site-logo">DRIPHACK20<span>.</span></a>
              
            </div>
            <div class="col-md-5 text-right text-lg-left">
              <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                <li><a href="#skills-section" class="nav-link">Skills</a></li>
                <li><a href="#testimonial-section" class="nav-link">Testimonial</a></li>
                <li><a href="#journal-section" class="nav-link">Journal</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>
             
              <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
                <li><a href="#" class="js-menu-toggle">Menu</a></li>
              </ul>
              
            </div>
          </div>
        </div>

      </nav>
      <!-- END nav -->
      
      <div class="cover-v1 jarallax" style="background-image: url('images/cover_bg_2.jpg');" id="home-section">
        <div class="container">
          <div class="row align-items-center">
              
            <div class="col-md-7 mx-auto text-center">
              <img src="{% static 'images/hacker3.jpg' %}" alt="divider" width="130">
              <h1 class="heading gsap-reveal-hero">DRIPHACK20</h1>
              
              <h5 class="subheading gsap-reveal-hero">"Security in IT, is like locking your house or car - it doesn't stop the bad guys, but if it's good enough, they may move on to an easier target."</h5>
              
            </div>

          </div>
        </div>


        <a href="#portfolio-section" class="mouse-wrap smoothscroll">
          <span class="mouse">
            <span class="scroll"></span>
          </span>
          <span class="mouse-label">Scroll</span>
        </a>

      </div>
      <!-- END .cover-v1 -->


      

      <div class="unslate_co--section" id="about-section">
        <div class="container">
          
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">About Us</span></h2>
            <span class="gsap-reveal">
            <img src="{% static 'images/divider.png' %}" alt="divider" width="76">
            </span>
          </div>
          

          <div class="row mt-5 justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
              <figure class="dotted-bg gsap-reveal-img ">
                <img src="{% static 'images/hacker8.jpg' %}" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-4 pr-lg-5">
              <h3 class="mb-4 heading-h3"><span class="gsap-reveal">Get The Best CyberSecurity Experts</span></h3>
              <p class="lead gsap-reveal">DRIPHACK20 is a cybersecurity organization that offers the best security and hacking aids/tips to our clients</p>
              <p class="mb-4 gsap-reveal">We have a dedicated team of hackers, pen-testers, cybersecurity experts and programmers, ready to offer the best security service to our clients, and to give them unrestricted access to what ever systems they wish to get into.</p>
              <p class="mb-4 gsap-reveal"> 
                We issue automatic and registered drivers license, DVL made with holograms, scannable barcodes, security features which can be 
                verified into the police database, We process original documents such as driving license, international passport, resident permit, green card, marriage certificate, ID cards.....etc.
              </p>
              <p class="mb-4 gsap-reveal"> 
                We are assuring you a good and reliable service worthy of recommendation, your security and privacy is guaranteed  at a 100% as no jobs or informations shared with us is revealed to a third party.
                With our experienced hackers, you have nothing to worry about when it come to securing your personal data or cracking into a system because doing it right and swift is what we do best.
              </p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="unslate_co--section" id="services-section">
        <div class="container">

          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Our Services</span></h2>
            <h5>We will get the job done</h5>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>

          <div class="row gutter-v3">
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/scan.svg' %}" alt="Image" width="45">
                </div>
                <h3>Scannable <br> IDs</h3>
                <p>Looking for a way of getting  IDs DripHack20 has got you covered. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/bank.svg' %}" alt="Icon" width="45">
                </div>
                <h3>Bank <br> Statement</h3>
                <p>We provide bank statement of account </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/social-media.svg' %}" alt="Image" class="img-fluid" width="45">
                </div>
                <h3>Social Media <br> Hacks</h3>
                <p>Solutions are readily available because we know how important a social media account is to you. </p>
              </div> 
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/crypto-invest.svg' %}" alt="Image" width="45">
                </div>
                <h3>Crypto Currency <br> Investment</h3>
                <p>We help you make right decisions when investing in crypto so you never get to run at a loss. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/device-hacks.svg' %}" alt="Image" width="45">
                </div>
                <h3>Device <br> Hacks</h3>
                <p>We have sophisticated tools to enable you hack into any device: computer, phone, iPhone; detect and recover lost files from these devices. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/crypto-recovery.svg' %}" alt="Image" width="45">
                </div>
                <h3>Cyptocurrency <br> Recovery</h3>
                <p>Lost access to crypto coins? you are one step close to recovering it. </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/IELTS.svg' %}" alt="Image" width="45">
                </div>
                <h3>IELTS <br> Results</h3>
                <p>The International English Language Testing System (IELTS) is designed to help you work, study or migrate to a country where English is the native language, contact DripHack20 for your IELTS Results</p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="{% static 'images/svg/web-dev.svg' %}" alt="Image" width="45">
                </div>
                <h3>Web <br> Development</h3>
                <p>Have you been looking for a way to build complex web applications/websites? DripHack20 is the place for you.</p>
              </div> 
            </div>

          </div>
        </div>
      </div>

      <div class="unslate_co--section section-counter" id="skills-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Skills & Ratings</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="97">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Pen-Testing</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="99">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Hacking</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="99">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Web Development</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="100">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Crypto Trading</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END .counter -->

      <div class="unslate_co--section" id="testimonial-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Our Happy Clients</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>
        </div>

        <div class="owl-carousel testimonial-slider" data-aos="fade-up">
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  My twitter account of 12 years was hacked, and i just couldn't let go of it, i friend recommended this platform, and they helped me recover my
                  account, thanks very much driphack20, i love your customer service and efficiency, you did a great job.
                </blockquote>
              </div>
              
              <div class="testimonial-author-info">
                <img src="{% static 'images/person_man_1.jpg' %}" alt="Image">
                <h3>Mike Ederson</h3>
                <span class="d-block position">Social Media Recovery</span>
              </div>

            </div>
          </div>
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  I had an important job interview to go for abroad, and the company requested that i came in person for the interview, i needed a statement of account document to apply for my visa, then
                  driphack20 came to my rescue, they are very efficient and the best i have ever seen, thanks so much driphack20 you really saved my ass.
                </blockquote>
              </div>
              
              <div class="testimonial-author-info">
                <img src="{% static 'images/person_man_2.jpg' %}" alt="Image">
                <h3>Thomas Jeff</h3>
                <span class="d-block position">Bank Statement</span>
              </div>

            </div>
          </div>
          <div>
            <div class="testimonial-v1">
              <div class="testimonial-inner-bg">
                <span class="quote">&ldquo;</span>
                <blockquote>
                  For quite some time now, about a couple of years i have been looking for where to invest in crypto currency and make a lot 
                  of profits, i couldn't get an efficient means of doing so, but Driphack20 came along and i have made a lot of money from this investment, thank you so much driphack20.
                </blockquote>
              </div>
              
              <div class="testimonial-author-info">
                <img src="{% static 'images/person_woman_1.jpg' %}" alt="Image">
                <h3>Ella Miller</h3>
                <span class="d-block position">Crypto Investor</span>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- END testimonial -->
      <div class="unslate_co--section" id="portfolio-section">
        <div class="container">
          
          
          <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
          <div id="portfolio-single-holder"></div>

          <div class="portfolio-wrapper">

            <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
              <h2 class="mr-auto heading-h2"><span class="gsap-reveal">Video Portfolio</span></h2>

              <!-- <a href="#" class="text-white js-filter d-inline-block d-lg-none">Filter</a>
              
              <div class="filter-wrap">
                <div class="filter ml-auto" id="filters">
                  <a href="#" class="active" data-filter="*">All</a>
                  <a href="#" data-filter=".web">Web</a>
                  <a href="#" data-filter=".branding">Branding</a>
                  <a href="#" data-filter=".illustration">Illustration</a>
                  <a href="#" data-filter=".packaging">Packaging</a>
                </div>
              </div> -->
            </div>


            
            <div id="posts" class="row gutter-isotope-item">
              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676739754/samples/VEDG3689_hwo24m.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2067.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>
              <div class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2 ">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737552/samples/MXCC1249_ohsgpy.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2068.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

              <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676810880/samples/DYNY9099_qtwqjr.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2069.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

              <div class="item web packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">

                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737674/samples/RYGW2559_bxcjev.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2070.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>

              </div>

              <div class="item illustration packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737373/samples/LQTU5294_ivxcq0.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2071.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737356/samples/ABBD2894_vdvmic.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2072.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>
              
              <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737327/samples/BQYU8714_awwkl0.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2073.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>
              

              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676716741/oz9qecvuqubh8do5gyvb.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2075.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

              <div class="item web illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676815511/samples/WOFJ0816_ojcvq8.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2076.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

            </div>
            
          </div>


        </div>
      </div>
      <div class="unslate_co--section" id="portfolio-section">
        <div class="container">
          
          
          <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
          <div id="portfolio-single-holder"></div>

          <div class="portfolio-wrapper">

            <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
              <h2 class="mr-auto heading-h2"><span class="gsap-reveal"></span></h2>

              <!-- <a href="#" class="text-white js-filter d-inline-block d-lg-none">Filter</a>
              
              <div class="filter-wrap">
                <div class="filter ml-auto" id="filters">
                  <a href="#" class="active" data-filter="*">All</a>
                  <a href="#" data-filter=".web">Web</a>
                  <a href="#" data-filter=".branding">Branding</a>
                  <a href="#" data-filter=".illustration">Illustration</a>
                  <a href="#" data-filter=".packaging">Packaging</a>
                </div>
              </div> -->
            </div>


            
            <div id="posts" class="row gutter-isotope-item">
              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676739689/samples/SKVL4258_lkqhnb.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2077.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>
              <div class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2 ">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737478/samples/BBTF9756_qbstxt.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2078.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

              <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737478/samples/BBTF9756_qbstxt.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2079.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

              <div class="item web packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">

                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737319/samples/AJPI3192_dstltr.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2080.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>

              </div>

              <div class="item illustration packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737965/samples/SZNM1673_ogdhdx.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2081.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737330/samples/FPEL2549_a8gdpg.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2082.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>
              
              <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737554/samples/RFUY8184_ffmjqt.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2083.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>
              

              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676737851/samples/SIOZ6244_mbisai.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2084.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

              <div class="item web illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://res.cloudinary.com/kimizzy/video/upload/v1676716741/oz9qecvuqubh8do5gyvb.mp4" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                  <div class="overlay">
                    <span class="wrap-icon icon-play_circle_filled"></span>
                    <div class="portfolio-item-content">
                      <h3></h3>
                      <p></p>
                    </div>
                  </div>
                  <img src="{% static 'images/IMG_2075.PNG' %}" class="lazyload  img-fluid" alt="Images" />
                </a>
              </div>

            </div>
            
          </div>


        </div>
      </div>



      <div class="unslate_co--section">
        <div class="container">
          <div class="owl-carousel logo-slider">
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/cyber1.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/cyber2.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/cyber3.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/cyber4.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/cyber5.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/cyber6.jpg' %}" height="20" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="{% static 'images/cyber7.jpg' %}" height="20" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="unslate_co--section" id="journal-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Our Journal</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/hacker3.jpg' %}" alt="divider" width="76"></span>
          </div>

          
          <div class="row gutter-v4 align-items-stretch">
            <div class="col-sm-6 col-md-6 col-lg-8 blog-post-entry" data-aos="fade-up" data-aos-delay="0">

              <a href="blog-single.html" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3></h3>
                    <p class="post-meta"> <span class="small">&bullet;</span></p>
                  </div>
                </div>
                <img src="{% static 'images/hacker4.jpg' %}" class="lazyload" alt="Image" />
              </a>


            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="100">
              <a href="blog-single.html" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3></h3>
                    <p class="post-meta"><span class="small">&bullet;</span></p>
                  </div>
                </div>
                <img src="{% static 'images/hacker5.jpg' %}" class="lazyload" alt="Image" />
              </a>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="0">

              <a href="blog-single.html" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3></h3>
                    <p class="post-meta"><span class="small">&bullet;</span> </p>
                  </div>
                </div>
                <img src="{% static 'images/hacker6.jpg' %}" class="lazyload" alt="Image" />
              </a>


            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="100">
              <a href="blog-single.html" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3></h3>
                    <p class="post-meta"><span class="small">&bullet;</span> </p>
                  </div>
                </div>
                <img src="{% static 'images/hacker7.jpg' %}" class="lazyload" alt="Image" />
              </a>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="200">
              <a href="blog-single.html" class="grid-item blog-item w-100 h-100">
                <div class="overlay">
                  <div class="portfolio-item-content">
                    <h3></h3>
                    <p class="post-meta"> <span class="small">&bullet;</span></p>
                  </div>
                </div>
                <img src="{% static 'images/python1.jpg' %}" class="lazyload" alt="Image" />
              </a>
            </div>


          </div>

        </div>
      </div>
      <!-- END blog posts -->


      <div class="unslate_co--section" id="contact-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
            <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
          </div>


          <div class="row justify-content-between">
            
            <div class="col-md-6">
              <form method="post" class="form-outline-style-v1" id="contactForm">
                <div class="form-group row mb-0">

                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name">
                  </div>
                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email">
                  </div>
                  <div class="col-lg-12 form-group gsap-reveal">
                    <label for="message">Write your message...</label>
                    <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group row gsap-reveal">
                    <div class="col-md-12 d-flex align-items-center">
                      <input type="submit" class="btn btn-outline-pill btn-custom-light mr-3" value="Send Message">
                      <span class="submitting"></span>
                    </div>
                  </div>
              </form>
              <div id="form-message-warning" class="mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>

            </div>

            <div class="col-md-4">
              <div class="contact-info-v1">
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Email</span>
                  <a href="#" class="contact-info-val">driphack20@gmail.com</a>
                </div>
                
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Address</span>
                  <address class="contact-info-val">Undisclosed.<br></address>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div> <!-- END .unslate_co-site-inner -->

      <footer class="unslate_co--footer unslate_co--section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7">
              
              <div class="footer-site-logo"><a href="#">DRIPHACK20<span>.</span></a></div>

              <ul class="footer-site-social">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
              </ul>

              <p class="site-copyright">
                
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved @DRIPHACK20 <i class="icon-heart"
                  aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"></a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              
              </p>

            </div>
          </div>
        </div>
      </footer>
      {% for video in video %}
      <video> 
        <source src="{{video.video.url}}">
      </video>
      {% endfor %}
    </div>

    
    <!-- Loader -->
    <div id="unslate_co--overlayer"></div>
    <div class="site-loader-wrap">
      <div class="site-loader"></div>
    </div>

    <script src="{% static 'js/scripts-dist.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="//code.tidio.co/xpraadlkrmbjrwtcp6mmyf9qm9vk2tlp.js" async></script>
  </body>
</html>